:host {
  display: flex;
}
main {
  margin-left: 1em;
  flex: auto;
  text-align: center;
}

@media screen and (max-width: 40em) {
  :host {
    flex-direction: column;
  }

  main {
    margin-left: 0;
    margin-top: 1em;
    font-family: Tahoma, Verdana, sans-serif;

  }
}
  *{
    font-family: Tahoma, Verdana, sans-serif;

  }
  h1 {
    font-size: 40px;
    font-weight: normal;
  }

  h2 {
    font-size: 30px;
  }

  .listas {
    font-size: 30px;
  }




